In [2]:
import yfinance as yf

In [7]:
#Intraday Data
data = yf.download('VST', period = '1mo', interval = '5m')

[*********************100%***********************]  1 of 1 downloaded

In [8]:
data.head()

                            Open   High    Low  Close  Adj Close  Volume
Datetime
2020-08-10 09:30:00-04:00  18.93  19.01  18.86  18.99      18.99   47211
2020-08-10 09:35:00-04:00  18.99  19.00  18.90  18.98      18.98   15092
2020-08-10 09:40:00-04:00  18.99  19.09  18.97  19.08      19.08    9462
2020-08-10 09:45:00-04:00  19.08  19.08  18.94  18.98      18.98   17195
2020-08-10 09:50:00-04:00  18.99  19.02  18.94  18.97      18.97   11259

In [25]:
#Stock data with start and end date
data = yf.download('VST', start = '2018-09-09', end = '2020-09-09')

[*********************100%***********************]  1 of 1 downloaded

In [26]:
data.head()

             Open   High    Low  Close  Adj Close   Volume
Date
2018-09-10  22.61  23.04  22.53  22.90      22.10  2600100
2018-09-11  22.82  23.21  22.76  22.98      22.18  3520300
2018-09-12  22.96  23.33  22.95  23.25      22.44  3761600
2018-09-13  23.32  23.49  23.13  23.35      22.54  2445000
2018-09-14  23.27  23.61  23.27  23.35      22.54  3375300

Pulling Data For Multiple Tickers

In [27]:
import datetime as dt
import yfinance as yf
import pandas as pd

In [28]:
start = dt.datetime.today() - dt.timedelta(365)

In [29]:
end = dt.datetime.today()

In [30]:
tickers = ['VST', 'NRG', 'PEG', 'EXC']

In [31]:
stock_price = pd.DataFrame()

In [32]:
for ticker in tickers:
    stock_price[ticker] = yf.download(ticker, start = start, end = end)['Adj Close']

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

In [33]:
stock_price.head()

              VST    NRG    PEG    EXC
Date
2019-09-11  25.32  37.60  59.74  46.98
2019-09-12  25.61  37.29  59.30  46.16
2019-09-13  25.71  37.50  58.67  45.57
2019-09-16  26.02  38.01  58.67  45.68
2019-09-17  26.11  38.01  59.03  45.59

In [36]:
stock_dic = {}

In [37]:
for ticker in tickers:
    stock_dic[ticker] = yf.download(ticker, start, end)

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

In [43]:
stock_dic['NRG'].head()

             Open   High    Low  Close  Adj Close   Volume
Date
2019-09-11  38.10  38.93  37.82  38.61      37.60  2100800
2019-09-12  38.52  38.76  38.26  38.29      37.29  2339800
2019-09-13  38.14  38.71  37.73  38.50      37.50  2929100
2019-09-16  38.53  39.04  38.35  39.03      38.01  2435200
2019-09-17  39.10  39.37  38.80  39.03      38.01  2801000